{% extends "layouts/base.html" %}


{% block title %}
Temp Inherit Home Page
{% endblock %}


{% block content %}
<div class="container">
    <h1>Classroom</h1>
    <table class="table table-stripe">
        <tr>
            <th>S.N.</th>
            <th>Name</th>
            <th>Section</th>
        </tr>
        {% for classroom in classrooms %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{classroom.name}}</td>
            <td>{{classroom.section}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}


{% block extrajs %}
<script>
    
</script>
{%endblock%}