<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Page</title>
</head>
<body style="text-align: center;">
    <h1>Hello from my django project</h1>
    <div>
        <a href="{% url 'portfolio' %}"><h2>Portfolio</h2></a>
        <a href="{% url 'learning_dtl' %}"><h2>DTL (Django Templating Language)</h2></a>
        <a href="{% url 'using_bootstrap' %}"><h2>Bootstrap</h2></a>
        <a href="{% url 'temp_inherit' %}"><h2>Template Inheritance</h2></a>
        <a href="{% url 'crud_classroom' %}"><h2>CRUD</h2></a>
    </div>
</body>
</html>